<section class="conoce-mas">
    <h2>{{conoceMas.titulo}}</h2>
    <p>{{conoceMas.descripcion}}</p>
    <div class="imagenes-boton">
        {{#each conoceMas.secciones}}
            <div class="imagen-boton">
                <a href="{{url}}">
                    <img src="{{imagen}}" alt="{{titulo}}">
                </a>
                <p>{{titulo}}</p>
            </div>
        {{/each}}
    </div>
</section>