<div class="formulario">
    <h2>{{form.titulo}}</h2>
    <p class="form-subtitulo">{{form.subtitulo}}</p>
    <form class="contact" method="GET">
        <div class="form-group">
            {{#each form.campos.inputs}}
            <div class="input-control">
                <label for="{{this.id}}">{{this.etiqueta}}</label>
                <input id="{{this.id}}" name="{{this.nombre}}" type="{{this.tipo}}" placeholder="{{this.placeholder}}">
                <span class="error"></span>
            </div>
            {{/each}}

            <div class="input-control">
                <label for="{{form.campos.select.id}}">{{form.campos.select.etiqueta}}</label>
                <select id="{{form.campos.select.id}}" name="{{form.campos.select.nombre}}">
                    {{#each form.campos.select.opciones}}
                    <option value="{{this.valor}}">{{this.texto}}</option>
                    {{/each}}
                </select>
                <span class="error"></span>
            </div>

            <div class="input-control">
                <label for="{{form.campos.textarea.id}}">{{form.campos.textarea.etiqueta}}</label>
                <textarea id="{{form.campos.textarea.id}}" name="{{form.campos.textarea.nombre}}" placeholder="{{form.campos.textarea.placeholder}}"></textarea>
                <span class="error"></span>
            </div>
        </div>
        <button type="submit" class="submit-button">
            <span>{{form.botonEnviar}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <line x1="22" y1="2" x2="11" y2="13"></line>
                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
        </button>
    </form>
</div>