<div class="destinos">
    <div class="destino-titulo">
        <h2>{{destinos.titulo}}</h2>
    </div>
    <div class="slider-container">
        <div class="tarjetas">
            {{#each destinos.tarjetas}}
            <div class="tarjeta">
                <div class="imagen">
                    <img src="{{imagen}}" alt="{{titulo}}">
                </div>
                <div class="info">
                    <h3>{{titulo}}</h3>
                    <p>{{descripcion}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <button class="prev">&#9664;</button>
    <button class="next">&#9654;</button>
</div>