<div class="gallery-item">
    <a href="{{instagramLink}}" target="_blank">
        <img style="height: {{height}}; {{#if objectFit}}object-fit: {{objectFit}};{{/if}}" 
             src="{{imageSrc}}" alt="{{alt}}">
    </a>
</div>