<header>
    <div class="brand">
        <picture>
            <source src="../public/imgs/logo/logo-Tecnitour(Desktop).png" media="(min-width: 1024px)">
            <source src="../public/imgs/logo/Logo-Tecnitour(tablet).png" media="(min-width: 720px)">
            <img src="../public/imgs/logo/Logo-Tecnitour(movil).png" alt="Logo de la empresa">
        </picture>
        <h1>Tecnitours</h1>
    </div>
    <button class="menu-toggle" aria-label="Abrir menu">
        &#9776;
    </button>
    <nav>
        <ul>
            {{#each navigation}}
                {{#if submenu}}
                    <li class="menuDesplegable">
                        <button class="menubtn">{{label}}</button>
                        <div class="linksMenu">
                            {{#each submenu}}
                                <a href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    </li>
                {{else}}
                    <li><a href="{{url}}">{{label}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    </nav>
</header>