<header>
    <div class="brand">
        <picture>
            <source src="/imgs/logo/logo-Tecnitour(Desktop).png" media="(min-width: 1024px)">
            <source src="/imgs/logo/Logo-Tecnitour(tablet).png" media="(min-width: 720px)">
            <img src="/imgs/logo/Logo-Tecnitour(movil).png" alt="Logo de la empresa">
        </picture>
        <h1>Tecnitours</h1>
    </div>
    <button class="menu-toggle" aria-label="Abrir menu">
        &#9776;
    </button>
    <nav>
        <ul>
            {{#each navigation}}
                <li {{#if submenu}}class="menuDesplegable"{{/if}}>
                    {{#if submenu}}
                        <button class="menubtn">{{label}}</button>
                        <div class="linksMenu">
                            {{#each submenu}}
                                <a href="{{url}}">{{label}}</a>
                            {{/each}}
                        </div>
                    {{else}}
                        <a href="{{url}}">{{label}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </nav>
</header>