<section class="ofertas-destacadas">
    <h2>{{ofertas.titulo}}</h2>
    <div class="ofertas">
        {{#each ofertas.items}}
            <div class="oferta">
                <img src="{{imagen}}" alt="{{titulo}}">
                <div class="info">
                    <h3>{{titulo}}</h3>
                    <p>{{descripcion}}</p>
                    <a href="{{url}}" class="btn">Ver más</a>
                </div>
            </div>
        {{/each}}
    </div>
</section>